launcher/game/saves
log.txt
traceback.txt
errors.txt
*.rpyc
*.rpyb
tmp
renpy-*.*.*-dists
atom
jedit
atom-*.zsync.part
DDMMaker-*.*.*-dists
DDMMaker7-*.*.*-dists
DDMMaker6-*.*.*-dists
clean_renpy_files.py
*.pyo
rapt