launcher/game/saves
log.txt
traceback.txt
errors.txt
*.rpyc
*.rpyb
tmp
renpy-*.*.*-dists
DDMMaker-*.*.*-dists
DDMMaker7-*.*.*-dists
DDMMaker6-*.*.*-dists
renpy/*.pyo
launcher/project.json
rapt
clean_renpy_files.py